
* {
    margin: 0 auto;
    padding: 0;
    width: 400px;
}

form {
    position: relative;
    width: 400px;
    margin: 0 auto; 
    border-radius: 0.5em;
    display: grid;
}

fieldset {
    position: relative;
    display: grid;
    grid-gap: 0.5rem;
    margin: 0 auto;
    width: 400px;
    background-color: #E1ECEC;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 3em 1em 2em 1em;
}


b {
    color: #12536C;
}


.header {
    font-size: small;
    color: #12536C;
    padding: 0.3em;
}

input, select, textarea, button {
    padding: 0.3em;
    font-size: medium;
}

textarea {
    width: 400px;
    height: 70px;
}

.example {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.3em;
    font-size: small;
    color: #E1ECEC;
    background-color: #021E34;
    width: 300px;
    height: 30px;

}

button {
    margin: 1rem;
    background-color: #12536C;
    color: #fff;
    border: none;
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

button:hover {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    width: 400px;
    height: 40px;
    border-radius: 5px;
}
